/* resultsDisplay.css */
.results-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #2b2d42;
  border-radius: 10px;
  width: 50%;
  text-align: left;
}

.result-row {
  margin-bottom: 20px;
}

h2 {
  color: #8d99ae;
  margin-bottom: 15px;
}

.student-result {
  background-color: #d90429;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}
